{% extends "layout.html" %}

{% block title %}
    Sell
{% endblock %}

{% block main %}
    <form action = "/sell" method = "post">
        <select name = "stock_name">
            {% for row in rows %}
            <option value = "{{row["symbol"]}}"> {{row["symbol"]}}</option>
            {% endfor %}
        </select>


        <div class = "form-group">
            <input autocomplete = "off" autofocus class = "form-control" name = "shares" placeholder = "Number of Shares" type = "number"/>
        </div>
        <button class = "btn btn-primary" type = "submit">Sell</button>
    </form>
{% endblock %}
